* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Helvetica, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

.works {
    display: flex;
    padding: 1em;
    background-color: #0B1320;
    width: 100vw;
    position: fixed;
    z-index: 999;
}

.nav-icons {
    list-style: none;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 15em;
}

.logos {
    height: 1.7em;
    padding-left: 15em;
}

#down-arrow {
    color: #fff;
    align-items: center;
    justify-content: center;
}

.icons {
    padding-right: 3em;
}

.icons:hover {
    cursor: pointer;
}

.container-1 {
    display: flex;
    padding-top: 5em;
    background: linear-gradient(to right, #DCD0EC, #8161AE);
}

.easy {
    padding: 8em 0 0 13em;
}

#header {
    font-size: 5rem;
    font-weight: 800;
    color: #0B1320;
}

.made {
    font-size: 1.3rem;
    color: rgb(63, 61, 61);
    padding-top: 1em;
}

.buttons {
    padding-top: 2em;
}

.get {
    height: 45px;
    width: auto;
    padding: 0 3em 0 3em;
    align-items: center;
    justify-content: center;
    background-color: #0B1320;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.get:hover {
    cursor: pointer;
    background-color: rgb(20, 19, 19);
}

.sales {
    margin-left: 1.5em;
    height: 45px;
    width: auto;
    padding: 0 2.3em 0 2.3em;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #000;
}

.sales:hover {
    cursor: pointer;
    border: 2px solid #000;
}

#face {
    height: 35em;
    width: auto;
    padding: 4em 15em 0 0;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin-top: 8em;
    margin-left: 5em;
}

.love {
    font-size: 2.3rem;
    font-weight: 800;
    color: #0B1320;
}

.fresh {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5em;
    color: rgb(44, 43, 43);
}

.container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7em;   
    margin-left: 2em;
}

.delight, .delight-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delight-1 {
    margin-left: 8em;
}

.hand-shake, .computer {
    height: 250px;
    width: auto;
}

.you, .you-1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    color: #0B1320;
}

.exceed, .exceed-1 {
    text-align: center;
    line-height: 1.5rem;
    color: rgb(48, 44, 44);
    margin-top: 1.2em;
}

.btns {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#solution, #solution-1 {
    height: 45px;
    width: auto;
    padding: 0 1em 0 1em;
    background-color: #fff;
    font-weight: bolder;
    font-size: 0.9rem;
    border: 1px solid #000;
    border-radius: 3px;
    color: #0B1320;
}

#solution:hover {
    cursor: pointer;
    border: 2px solid #000;
}

#solution-1:hover {
    cursor: pointer;
    border: 2px solid #000;
}

/* .dot-line {
    border: none;
    border-top: 1px dashed rgb(63, 61, 61);
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 47%;
    transform: rotate(90deg);
    margin-left: 28em;
    margin-top: -18em;
} */

.market, .market-1 {
    margin-top: 1em;
    height: 45px;
    width: auto;
    padding: 0 7em 0 7em;
    background-color: #fff;
    font-weight: bolder;
    font-size: 0.9rem;
    border: 1px solid #000;
    border-radius: 3px;
}

.market:hover {
    cursor: pointer;
    border: 2px solid #000;
}
.market-1:hover {
    cursor: pointer;
    border: 2px solid #000;
}

.container-4 {
    display: flex;
    background-color: #0B1320;
    width: 100vw;
    margin-top: 10em;
    height: 73em;
}

.friction {
    color: #fff;
    text-align: center;
    margin-top: 10em;
    margin-left: 20em;
}

.less {
    font-size: 2.2rem;
    font-weight: 800;
}

.maker {
    line-height: 2.3em;
    margin-top: 1em;
}

.runner, .runner-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 25em;
    margin-left: 13em;
}

.runner-1 {
    margin-top: 45em;
}

.get-up, .get-up-1, .get-on, .get-on-1{
    color: #fff;
}

.notification {
    height: 5em;
    width: auto;
}

.purchase {
    padding-top: 2em;
    font-size: 1.5rem;
}

.onboard {
    padding-top: 1em;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.free-trail {
    margin-top: 1em;
    outline: none;
    border: none;
    color: #A4381D;
    background: rgb(22, 15, 15);
    font-size: 1em;
    background-color: #0B1320;
}

.free-trail:hover {
    cursor: pointer;
    padding-right: 0.3em;
}

#arrow {
    padding-left: 0.2em;
    color: #A4381D;
}

.get-up-1 {
    margin-left: 10em;
}

#onboard-1 {
    padding-top: 1em;
    font-size: 1.1em;
    letter-spacing: 0.2px;
}

.container-5 {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    text-align: center;
}

.trust {
    font-size: 2.2em;
    font-weight: 800;
    color: #0B1320;
}

.leading {
    margin-top: 1em;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: rgb(48, 44, 44);
}

.container-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos-com {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.logos-com-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.pear, .brew, .stone, .show, .klarna, .vice {
    height: 50px;
    width: auto;
    padding-right: 3em;
}

.container-7 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5em;
}

.waterstons {
    align-items: center;
    justify-content: center;
    display: flex;
}

.close, .upper {
    height: 60px;
    width: auto;
}

.tons {
    padding: 0 4em 0 4em;
}

.great {
    font-size: 1.5rem;
    line-height: 1.3em;
    color: rgb(44, 43, 43);
    margin-top: 1.2em;
}

.services {
    margin-top: 1.5em;
    font-size: 1.3rem;
    letter-spacing: 0.3px;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
}

#first-dot, #second-dot, #third-dot {
    margin-right: 0.5em;
    opacity: 80%;
}

#first-dot:hover, #second-dot:hover, #third-dot:hover {
    cursor: pointer;
    opacity: 100%;
}

.container-8 {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
}

.card-flex {
    display: flex;
    margin-top: 5em;
    align-items: center;
    justify-content: center;
    margin-left: 4em;
}

.cards {
    padding-right: 2em;
}

.aspire {
    text-align: center;
    font-size: 2rem;
    margin-top: 3em;
    color: #0B1320;
}

.hat {
    height: 250px;
    width: auto;
}

.cult {
    margin-top: 1em;
    font-size: 1.5em;
}

.support {
    margin-top: 1em;
    line-height: 1.5em;
    color: rgb(48, 44, 44);
}

.lives {
    margin-top: 6em;
    margin-left: 40em;
    height: 45px;
    width: auto;
    padding: 0 2em 0 2em;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 3px;
}

.lives:hover {
    cursor: pointer;
    background-color: rgb(19, 17, 17);
}

.container-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* position: absolute; */
}

.new {
    text-align: center;
    margin-top: 6em;
    font-size: 2.3rem;
    color: #0B1320;
}

.rank-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3em;
    margin-right: 2em;
}

.rank-numbers:hover {
    cursor: pointer;
}

.forbes {
    height: 250px;
    width: auto;
}

.cloud {
    margin-top: 2em;
    color: rgb(48, 44, 44);
    line-height: 1.5em;
}

.itsm {
    color: rgb(48, 44, 44);
    margin-top: 0.5em;
}

.read-more {
    margin-top: 1em;
    outline: none;
    border: none;
    color: #f12c09;
    background-color: #fff;
    font-size: 1em;
}

.read-more:hover {
    cursor: pointer;
    margin-right: 0.1em;
}

#smile-1 {
    margin-top: 0.2em;
}

#gartner {
    padding-top: 2em;
}

#consecutive {
    padding-top: 1em;
}

#thd-red {
    padding-top: 0.5em;
}

#mid-red {
    padding-top: 0.7em;
}

.news {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 41em;
    margin-top: 5em;
    height: 45px;
    width: auto;
    padding: 0 2em 0 2em;
    color: #fff;
    background-color: #0B1320;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 1rem;
}

.news:hover {
    cursor: pointer;
    background-color: rgb(20, 19, 19);
}

.btn-sales {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('img/ia_100000120.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10em;
    background-color: #0B1320;
    border-bottom: 5px solid #fff;
}

.ready-get {
    padding-top: 3em;
    font-size: 3rem;
    color: #fff;
}

.saas {
    color: #fff;
    font-size: 1.3rem;
    padding-top: 1.5em;
}

.contact {
    height: 40px;
    width: auto;
    background-color: #fff;
    padding: 0 1em 0 1em;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 2em;
    margin-bottom: 5em;    
}

.contact:hover {
    cursor: pointer;
    border: 2px solid #000;
}


.footer {
    background-color: #DCD0EC;  
    padding: 1em 0 1em 0;
    text-align: center;
}

.tharun {
    color: #0B1320;
    letter-spacing: 1px;
}

#container-007 {
    display: none;
}

#container-07 {
    display: show;
}

#container-70 {
    display: none;
}